
{% extends 'base.html' %}
{% block content %}
 
<div class="column is-one-quarter"></div>
<div class="column is-half">
    
    <form method="post">
        {% csrf_token %}
        <div class="is-fullheight">
            <div class="hero-body is-justify-content-center is-align-items-center " >
                <div class="columns is-flex is-flex-direction-column box ">
                    <h2 class="title is-success has-text-centered">Send password reset link</h2>
                    {{form.as_p}}
                    <div class="column">
                        <button class="button is-success is-fullwidth is-rounded" type="submit">Reset</button>
                    </div>
                    <div class="has-text-centered">
                        <p class="is-size-8">Back to  <a href="{% url 'login' %}" class="has-text-success">Login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

    {% endblock %}