

<!--users/templates/registration/password_change_done.html-->
{% extends 'base.html' %}
{% block content %}

<div class="column is-one-quarter"></div>
<div class="column is-half">
    
    
        <div class="is-fullheight">
            <div class="hero-body is-justify-content-center is-align-items-center " >
                <div class="columns is-flex is-flex-direction-column box ">
                    <h2 class="title is-success has-text-centered">Password Changed Successfully</h2>          
              
                    <div class="has-text-centered">
                        <p class="is-size-8">Back to  <a href="{% url 'dwitter:dashboard' %}" class="has-text-success">dashboard</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
   
</div>
{% endblock %}